{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "react",
    "spellcheck"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "indent": 2,
    "quotes": 0,
    "no-console": 1,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "always"],
    "no-trailing-spaces": 0,
    "eol-last": 1,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "jsx-quotes": 1,
    "react/display-name": [ 1, {"ignoreTranspilerName": false }],
    "react/forbid-prop-types": [1, {"forbid": ["any"]}],
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": 1,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": [2, 4],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-multi-comp": [1, { "ignoreStateless": true }],
    "react/no-set-state": 1,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1,
    "spellcheck/spell-checker": [0,
       {
           "comments": "true",
           "strings": "true",
           "identifiers": "true",
           "skipWords": [
                "----------------- dev team -----------------",
                "uri",
                "hellerman",
                "koby",
                "meir",
                "zvi",
                "schutz",
                "etay",
                "schur",
                "mor",
                "sharon",
                "gal",
                "tubi",
                "oren",
                "levitzky",
                "erez",
                "gabay",
                "----------------- terminology -----------------",
                "unmount",
                "grey",
                "px",
                "ui",
                "navbar",
                "demandsources",
                "svg",
                "rgba",
                "btn",
                "popup",
                "vert",
                "sigin",
                "func",
                "checkbox",
                "bool",
                "dropdown",
                "bundler",
                "issuecomment",
                "badlink",
                "browsersync",
                "devtool",
                "devtools",
                "dom",
                "ds",
                "href",
                "html",
                "minified",
                "npm",
                "occurence",
                "prepend",
                "scss",
                "stylesheet",
                "uglify",
                "unstyled",
                "codec",
                "serializer",
                "substring",
                "na",
                "srv",
                "memoize",
                "auth",
                "mgt",
                "argv",
                "dict",
                "dev",
                "dsn",
                "del",
                "aff",
                "args",
                "utils",
                "api",
                "req",
                "src",
                "num",
                "sql",
                "js",
                "uncached",
                "conf",
                "http",
                "https",
                "ip",
                "mozilla",
                "prepublish",
                "cb",
                "nsp",
                "proxied",
                "instrumenter",
                "pre",
                "dir",
                "len",
                "timestamp",
                "unix",
                "util",
                "param",
                "params",
                "qs",
                "dataset",
                "middleware",
                "filename",
                "str",
                "addr",
                "init",
                "aggregator",
                "javascript",
                "deserialize",
                "deserialized",
                "whitelist",
                "async",
                "backend",
                "deserializer",
                "enricher",
                "boostrap",
                "acks",
                "csv",
                "deepcopy",
                "func",
                "linux",
                "iso",
                "cr",
                "ok",
                "postfix",
                "querystring",
                "readdir",
                "reqheaders",
                "rubydebug",
                "runtime",
                "writeable",
                "normalizer",
                "promisified",
                "sinon",
                "sp",
                "tk",
                "stateful",
                "stdout",
                "stringify",
                "tmp",
                "trunc",
                "urls",
                "utf",
                "msgs",
                "myerror",
                "mymsg",
                "myroute",
                "mytoken",
                "httpservice",
                "msg",
                "unparsable",
                "vals",
                "----------------- bug in lint: doesn't does i've aren't (aren't handled well by it) -----------------",
                "doesn",
                "doesnt",
                "ve",
                "----------------- libraries -----------------",
                "webpack",
                "trackjs",
                "github",
                "axios",
                "dedupe",
                "virtualized",
                "snackbar",
                "redux",
                "bunyan",
                "supertest",
                "yargs",
                "logstash",
                "mathjs",
                "memoization",
                "memoized",
                "memoizee",
                "morgan",
                "airbnb",
                "gcloud",
                "nconf",
                "nodemon",
                "bigquery",
                "isparta",
                "nock",
                "restify",
                "chai",
                "kafka",
                "eslint",
                "hunspellchecker",
                "hunspell",
                "istanbul",
                "teamcity",
                "promisify",
                "----------------- strange verbs in our code from base64 strings and so on -----------------",
                "bc",
                "mmecho",
                "httpbin",
                "abc",
                "tg",
                "mzgx",
                "mj",
                "iz",
                "wz",
                "fs",
                "aa",
                "bq",
                "nd",
                "niwx",
                "ver",
                "adjkjladks",
                "----------------- last entry -----------------"
           ],
           "skipIfMatch": [
                "http://[^s]*",
                "https://[^s]*"
            ]
        }
    ]
  },
  "globals": {
  }
}
